:root {
    --primary-L: #DADAE5;
    --primary-N: #717177;
    --primary-A: #2D2D30;
    --primary-M: #202023;
    --primary-D: #141416;
}

@font-face { 
    font-family: Comfortaa Variable; 
    src: url('./assets/Comfortaa-Variable.ttf'); 
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-M);
    color: var(--primary-L);
    font-family:'Comfortaa Variable';
    margin: 0;
}

#root {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#head {
    border-bottom: 0.10rem solid var(--primary-A);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#head-upper {
    font-size: 2.25rem;
    font-weight: 1000;
    letter-spacing: 0.15rem;
    margin-inline: auto;
    margin-block: 0.75rem;
}

#head-lower {
    font-size: 1.25rem;
}

#head-lower,
#tail-upper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.head-lower-all {
    text-align: center;
}

#head-lower > div {
    display: table;
    flex-basis: 27.50%;
}

#head-lower-1 > span,
#head-lower-3 > span {
    font-size: 0.95rem;
    display: table-cell;
    vertical-align: middle;
}

#body {
    background-color: var(--primary-D);
}

#grid {
    width: 100%;
    margin-inline: auto;
}

#tail {
    border-top: 0.10rem solid var(--primary-A);
    width: 100%;
}

#tail > div {
    margin-top: 2rem;
    margin-inline: 0.75rem;
}

#tail-upper-1,
#tail-upper-3 {
    color: var(--primary-N);
}

#tail-lower {
    border-top: 0.10rem solid var(--primary-A);
    color: var(--primary-N);
    font-size: 0.90rem;
    text-align:justify;
    text-align-last:center;
    padding-top: 1rem;
}

.svg-icon-filter {
    filter: invert(92%) sepia(4%) saturate(353%) hue-rotate(200deg) brightness(97%) contrast(89%);
    margin-inline: 0.75rem;
}

.size-125-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.size-150-icon {
    width: 1.50rem;
    height: 1.50rem;
}

.clickable {
    cursor: pointer;
    user-select:none;
}

@media screen and (min-width: 32.50em) {
    #grid {
        width: 27.50%;
    }

    #tail-lower {
        font-size: 0.75rem;
    }
}

@media screen and (max-aspect-ratio: 3/4) and (min-aspect-ratio: 2/3) {
    #grid {
        width: 60%;
    }
}